:root {
    /* Primary */
    --pink: hsl(322, 100%, 66%);
    /* Neutral */
    --veryPaleCyan: hsl(193, 100%, 96%);
    --veryDarkCyan: hsl(192, 100%, 9%);
    --grayishBlue: hsl(208, 11%, 55%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: var(--veryDarkCyan);
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
}

main {
    width: 100%;
    background-color: var(--veryPaleCyan);
    background-image: url(images/bg-hero-mobile.svg);
}

/* Header */
header {
    padding: 2rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 115px;
}

header button {
    font-family: 'Poppins', sans-serif;
    font-size: .75rem;
    background-color: white;
    color: var(--veryDarkCyan);
    padding: .25rem 1.5rem;
    border-radius: 50px;
    border: none;
    box-shadow: 0 3px 10px -5px var(--grayishBlue);
}

/* Section Top */
.section-top {
    padding: 3rem 1.75rem 2rem;
}

.section-top > div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.button-pink {
    font-weight: 700;
    color: var(--veryPaleCyan);
    border-radius: 50px;
    border-style: none;
    background-color: var(--pink);
    padding: .75rem;
    width: 75%;
    margin-inline: auto;
    box-shadow: 0 3px 12px -5px var(--grayishBlue);
}

.section-top img {
    width: 95%;
    margin-top: 3.5rem;
}

/* Section Alternating*/
.section-alternating {
    padding: 3rem 1rem 13rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
    position: relative;
}

.section-alternating > section:not(section:last-child) {
    padding: 2rem 2.5rem;
    border-radius: 20px;
    box-shadow: 0 0 25px -15px var(--grayishBlue);
}

.section-alternating img {
    width: 90%;
    margin-block: 1rem 3rem;
}

h2 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.section-alternating p {
    font-size: .9rem;
    line-height: 1.25rem;
    color: var(--grayishBlue);
}

/* Floating Section */
.section-float {
    text-align: center;
    padding: 2.5rem 1rem;
    border-radius: 15px;
    box-shadow: 0 0 25px -15px var(--grayishBlue);
    position: absolute;
    width: 95%;
    background-color: white;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    margin-inline: auto;
}

.section-float h2 {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}

.section-float button {
    width: 65%;
}

/* Footer */
footer {
    width: 100%;
    text-align: left;
    color: var(--veryPaleCyan);
    padding: 9rem 1rem 1rem;
    background-color: var(--veryDarkCyan);
}

footer img {
    filter: brightness(0) invert(1);
}

footer > span img {
    width: 160px;
}

.div-lpe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    padding-block: 1.5rem 2.5rem;
}

.div-lpe > div {
    display: flex;
    gap: 1rem;
}

.div-lpe > div img {
    padding-top: 4px;
}

.div-lpe > div:first-child img {
    padding-right: 7px;
}

.div-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-block: 1rem;
}

footer a { 
    text-decoration: none;
    color: var(--veryPaleCyan);
}

.div-social-icons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding-block: 2.5rem 1.5rem;
}

.div-social-icons > * {
    width: 13px;
    height: 13px;
    border: 1px solid white;
    border-radius: 50px;
    padding: .4rem;
}

footer > p {
    font-size: 11px;
    text-align: center;
}

footer > p a {
    color: var(--pink);
}

button:hover {
    cursor: pointer;
    opacity: .7;
}

a:hover {
    text-decoration: underline;
}

.div-social-icons > *:hover {
    color: var(--pink);
    cursor: pointer;
    border-color: var(--pink);
}

@media screen and (min-width:1000px) {
    body {
        font-size: 18px;
        text-align: left;
    }

    main {
        background-image: url(images/bg-hero-desktop.svg);
    }

    /* Header */
    header {
        padding: 2.5rem 6rem;
    }
    
    header img {
        width: 220px;
    }
    
    header button {
        font-size: 1rem;
        padding: .5rem 4rem;
        box-shadow: 0 3px 12px -5px var(--grayishBlue);
    }
    
    /* Section Top */
    .section-top {
        padding: 4rem 6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4rem;
    }
    
    .section-top > div {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 80%;
    }

    h1 {
        font-size: 2.5rem;
        padding-right: 4rem;
    }

    .section-top p {
        line-height: 1.75rem;
    }
    
    .button-pink {
        font-size: 1rem;
        padding: 1.2rem;
        width: 325px;
        margin: unset;
    }
    
    .section-top img {
        width: 100%;
        margin-top: 0;
    }

    /* Section Alternating*/
    .section-alternating {
        padding: 9rem 7rem 13rem;
    }

    .section-alternating > section:not(section:last-child) {
        padding: 3rem 2.5rem 3rem 7.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 7rem;
    }

    .order-two {
        order: 2;
    }

    .section-alternating img {
        width: 100%;
        margin-block: unset;
    }

    h2 {
        font-size: 1.75rem;
        margin-bottom: 1rem;
    }

    .section-alternating p {
        font-size: 1rem;
        line-height: 1.5rem;
        color: var(--grayishBlue);
    }

    /* Floating Section */
    .section-float {
        padding: 2.5rem 1rem;
        width: 50%;
    }

    .section-float h2 {
        font-size: 1.5rem;
    }

    .section-float button {
        width: 50%;
    }

    /* Footer */
    footer {
        padding: 10rem 5rem 1rem;
    }

    footer > div {
        display: flex;
        align-items: baseline;
        gap: 9rem;
    }

    .div-lpe {
        width: 35%;
        padding-block: 2rem;
        gap: 1rem;
    }

    .div-links {
        margin-block: unset;
    }

    .div-social-icons {
        padding-block: unset;
    }

    footer > p {
        display: flex;
        justify-content: end;
        align-items: baseline;
        padding-right: 1.75rem;
    }
}

@media screen and (min-width: 1400px){    
    /* Header */
    header {
        padding: 4rem 5rem;
    }    

    header button {
        font-size: 1.1rem;
        padding: .9rem 4.5rem;
    }
    
    /* Section Top */
    .section-top {
        padding: 1.5rem 5rem 4rem;
    }
    
    .section-top > div {
        width: 60%;
    }

    .button-pink {
        font-size: 1.1rem;
        padding: 1.4rem;
    }

    /* Section Alternating */
    .section-alternating > section:not(section:last-child) {
        gap: 13rem;
    }

    /* Footer */
    footer {
        padding: 11rem 7rem 3rem;
    }

    footer > p {
        padding-right: 3rem;
    }
}